<!-- TABLA CONTENIDOS -->
<script type="text/javascript">

$('#myModal').modal({
show:true,
backdrop:''
});


</script>


<!-- Modal -->

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">

<h4 class="modal-title" id="myModalLabel">AYUDA</h4>
</div>
<div class="modal-body">
PARA PODER VISUALIZAR ESTE CONTENIDO MANTENGA SU NAVEGADOR  ACTUALIZADO.. 





<a href="#" ng-model="collapsed"  ng-click="collapsed=!collapsed">Nota <strong>:</strong> </a>

<div ng-show="collapsed" class="expand-indicator" >I am description for the above title, which was collapsed by default

<li><a class="ifancybox" href="http://localhost/desarrollo/billar/administracion/producto/index.html">Swf</a></li>
<li><a class="fancybox" href="http://www.adobe.com/jp/events/cs3_web_edition_tour/swfs/perform.swf">Swf</a></li>


     </div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="modulos('')"   >cerrar</button>

</div>
</div>
</div>
</div>




<!-- CIERRA CONTENIDOS -->