<!-- <link href="script_css/boton_material_design.css" media="screen"  rel="stylesheet" > -->

<div id="asignar_pagos" class="table-responsive ocultar col-sm-12">

<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">INFORME CONSUMOS</h3>
</div>
<div class="panel-body">



<form name="buscador_informes_pagos" id="buscador_informes_pagos"  ng-submit="buscar_informe_pagos('buscador_informes_pagos')">

<fieldset>


<div class="form-group">
<div class="input-group ">
<div class="input-group-addon">Buscar Desde:</div>
<input type="datetime-local" name="buscar_desde"  class="form-control col-sm-1 "  id="buscar_desde"  placeholder="YYYY-MM-DD HH:MM:SS" value="2014-01-01T00:00:00" required >
</div>
</div>


<div class="form-group ">
<div class="input-group">
<div class="input-group-addon ">Buscar Hasta:</div>
<input type="datetime-local" name="buscar_hasta" class="form-control col-sm-1 "  id="buscar_hasta"   placeholder="YYYY-MM-DD HH:MM:SS" value="2014-12-31T23:59:59" required >
</div>
</div>

<button type="submit" class="btn btn-default btn-sm col-sm-12" >Buscar</button>

</fieldset>




</form>

<table class="table table-striped table-bordered table-condensed">
<thead>
<tr class="success">
<th ng-click="predicate = 'salida'; reverse=!reverse">fecha</th>
<th ng-click="predicate = 'nombre'; reverse=!reverse">nombre</th>
<th ng-click="predicate = 'cantidad'; reverse=!reverse">cantidad</th>
<th ng-click="predicate = 'producto'; reverse=!reverse">producto</th>
<th ng-click="predicate = 'precio_consumo'; reverse=!reverse">precio consumo</th>
<th >total</th>

</tr>
</thead>
<tbody >
<!-- <tr ng-repeat="pagos in resultado_filtro = (informe_pagos | filter: {'salida':buscar_desde, 'salida':buscar_hasta} | orderBy:'nombre') "> -->
<tr ng-repeat="pagos in resultado_filtro = (informe_pagos | orderBy:predicate:reverse) "> 

<td>{{pagos.salida}}</td>
<td>{{pagos.nombre}}</td>
<td>{{pagos.cantidad}}</td>
<td>{{pagos.producto}}</td>
<td>{{pagos.precio_consumo | currency:"$ "}}</td>
<td>{{ (pagos.cantidad) * (pagos.precio_consumo) | currency:"$ " }}</td>

</tr>

<tr>
<th colspan="4">VENTAS EN CONSUMO</th>
<th colspan="2"  class="danger">{{resultado_filtro | filtro_multiplicar:'cantidad':'precio_consumo' | currency:"$ "}}</th>
</tr>



</table>
<h4 ng-></h4>


</div>
</div>
</div>



<script>
if (!Modernizr.inputtypes.date) {
$('input[type=date]').datepicker({
// Consistent format with the HTML5 picker
dateFormat: 'yy-mm-dd'
});
}
</script>
