<!-- TABLA CONTENIDOS -->
<div class="row" id="asignar_pagos" ng-controller="controlador_billar">
  
  <div class="col s12 m12 l12">
    <div class="card ">

      <div class="card-content ">

        <div class="section">
          <span class="card-title activator grey-text text-darken-4"><strong>Mesas Asignadas</strong>
            <a href="#"  ng-click="recargar();" class="glyphicon glyphicon-refresh" ></a><i class="mdi-navigation-more-vert right"></i></span>
          <div class="divider"></div>
        </div>

        <table class="responsive-table bordered centered striped ">
          <thead>
            <tr class="success">
              <th>Ubicacion</th>
              <th>Entrada</th>
              <th>Termina</th>
              <th>Valor tiempo</th>
              <th>Valor consumo</th>
              <th>Valor total</th>
              <th>Consumo</th>
              <th>Cancelar</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="ver_estado in registros_estado">
              <td>{{ver_estado.nombre}}</td>
              <td>{{ver_estado.entrada}}</td>
              <td>{{ver_estado.salida}}</td>
              <td>{{ver_estado.cancelar_minuto| currency:"$" }}</td>
              <td>{{ver_estado.total_consumo| currency:"$" }}</td>
              <td>{{ (ver_estado.cancelar_minuto * 1) + (ver_estado.total_consumo * 1) | currency:"$"}}</td>
              <td> 
                <a  class="waves-effect waves-light  modal-trigger" ng-click='valor_consumos(ver_estado.id);'><i class="material-icons ">visibility</i> </a>
              </td>
              <td>
                <a  ng-click='guardar_pago(ver_estado.id);' class="center-align" > <i class="material-icons green-text">done</i> </a> 
              </td>
            </tr>
        </table>
      </div>
    </div>
  </div>




  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <table class="responsive-table bordered centered striped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Valor</th>
            <th>Cancelar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="contenido_consumo in registros_consumos">
            <td>{{contenido_consumo.nombre}}</td>
            <td>{{contenido_consumo.cantidad}}</td>
            <td>{{contenido_consumo.precio| currency:"$ "}}</td>
            <td>{{contenido_consumo.cantidad * contenido_consumo.precio| currency:"$ "}}</td>
            <td><a  ng-click='eliminar_consumo(contenido_consumo.id);' class="red-text"  title='eliminar consumo'><i class='material-icons'>clear</i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>




</div>
<!-- CIERRA CONTENIDOS -->