
<nav class="light-blue darken-3">

  <!-- BARRA FRONTAL DERECHA -->
  <ul class="left hide-on-med-and-down fixed">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">First</a></li>
      <li><a href="#!">Second</a></li>
      <li><a href="#!">Third</a></li>
      <li><a href="#!">Fourth</a></li>
    </ul>
  </ul>

  <!-- BARRA FRONTAL IZQUIERDA -->
  <ul class="right hide-on-med-and-down">
    <li><a href="sass.html"><i class="small mdi-action-search"></i></a></li>
    <li><a href="mobile.html"><i class="small mdi-navigation-more-vert"></i></a></li>
    <li><a href="components.html"><i class="small mdi-action-view-module"></i></a></li>
    <li><a href="javascript.html"><i class="small mdi-navigation-refresh"></i></a></li>
    <li><a href="#" class="abrir menu " ng-click="activar_menu();"><i class="small mdi-navigation-menu"></i></a></li>
  </ul>

  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>




  <!-- BARRA LATERAL -->
  

  
  <ul id="slide-out" class="side-nav " >

    <li class=" grey  darken-3 center-align "  style="padding:20px;">
      <p><h5>Menu</h5></p>
      <i class="large mdi-action-account-circle"></i>
      <p><h6>imagen</h6></p>
    </li>

    <!-- <li ng-repeat="(key, value) in menu_logueo | groupBy: 'menu' "><a href="#!">{{key}}</a> <div class="divider"></div></li> -->

    <li class="no-padding" ng-repeat="(key, value) in menu_logueo | groupBy: 'menu' ">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">{{key }}<i  class="mdi-navigation-arrow-drop-down"></i></a>
          <div class="collapsible-body" >
            <ul ng-repeat="(key, value) in value | groupBy: 'submenu1' ">
              <li ng-show="key != 'null'"><a href="#!">{{ key }}</a> <div class="divider"></div></li>
        
            </ul>
          </div>
        </li>
      </ul>
       <div class="divider"></div>
    </li>

  </ul>

</nav>

    <script>
                $(document).ready(function () {

                  console.log("cargo jquery");




                  // le doy un segundo de retardo para que cargue materialize
                  setTimeout(
                          function () {

                            
                            $.getScript("componentes/materialize-v0.95.3/js/materialize.js", function (data, textStatus, jqxhr) {
                              // console.log(data); // Data returned
                              console.log(textStatus); // Success
                              console.log(jqxhr.status); // 200
                              console.log("Load was performed.");
                              
                              $('.button-collapse').sideNav({
                              menuWidth: 240, // Default is 240
                              edge: 'left', // Choose the horizontal origin
                              closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
                            }
                            );

                            });
                          }


                  , 1000);



                });

    </script>
    
    
    <ul ng-repeat="(key, value) in menu_logueo | groupBy: 'menu' ">
      <li>{{key}}</li>
      <ul ng-repeat="(key, value) in value | groupBy: 'submenu1' " >
        <li>{{ key}} {{value[0].modulo1}} </li>
        <ul ng-repeat="(key, value) in value  " >
          <li>{{ value.submenu2}} </li>
          <li>{{ value.modulo2}} </li>         
        </ul>     
      </ul>
    </ul>
